<h2>Your Journal Entries</h2>
<% if @journals.empty? %>
  <%= link_to 'Create your first Journal', new_journal_path, class: "btn btn-secondary m-4"  %>
<% elsif @journals.last.created_at.to_date == dateToday.to_date  %>
  <p>Well done. You've Journaled today. Keep it up.</p>
<% else %>
  <p>Looks like you havent yet Journaled today. Go ahead and start writing.</p>
  <%= link_to 'Create New Journal', new_journal_path, class: "btn btn-secondary m-4"  %>
<% end %>
<% if @journals.any? %>
  <div class="row">
    <% @journals.each do |journal| %>
      <div class="card mx-auto">
        <div class="card-body">
          <h5 class="card-title"><%= journal.title %></h5>
          <p class="card-text"><%= journal.body %></p>
          <div class="mt-2">
            <%= link_to "Show", journal_path(journal), class: "btn btn-secondary m-2" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No journal entries yet.</p>
<% end %>
