<h1>New Journal Entry</h1>

<%= form_with model: @journal, local: true do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Journal Entry' %>
  </div>
<% end %>

<%= link_to 'Back to Journal Entries', journals_path %>
